{% load static %}
{% include "html/nav.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Cita Médica Registrada</title>
</head>
<body>
    <div class="container">
        <h1>Confirmación de Cita Médica Registrada</h1>
        <p>¡Tu cita ha sido registrada con éxito! Nos pondremos en contacto contigo pronto.</p>
        <a href="/">Volver a la página de inicio</a>
    </div>
</body>
</html>


{% include "html/finalpagina.html" %}